<main>
    <section class="section">
        <div class="container my-container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-4 col-6 pr-2 pl-2 pb-2 "
                     onclick="clickProgress('div1','/')">
                    <div class="card card-menu nao-seleciona-texto cursor-pointer mb-2 ">
                        <div class="card-body flex-column justify-content-center align-items-center text-center pt-3">
                            <div class="card-menu-icone">
                                <i class="mdi mdi-36px mdi-home-city-outline"></i>
                            </div>
                            <div id="div1">
                                <h6 class="card-menu-titulo mb-0">Modulo 1</h6>
                                <p class="card-menu-subtitulo pt-1">Descricao</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-6 pr-2 pl-2 pb-2 "
                     onclick="clickProgress('div2','/')">
                    <div class="card card-menu nao-seleciona-texto cursor-pointer mb-2 ">
                        <div class="card-body flex-column justify-content-center align-items-center text-center pt-3">
                            <div class="card-menu-icone">
                                <i class="mdi mdi-36px mdi-file-document-multiple-outline"></i>
                            </div>
                            <div id="div2">
                                <h6 class="card-menu-titulo mb-0">Modulo 2</h6>
                                <p class="card-menu-subtitulo pt-1">Descrição</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-6 pr-2 pl-2 pb-2"
                     onclick="clickProgress('div3','/')">
                    <div class="card card-menu nao-seleciona-texto cursor-pointer mb-2 ">
                        <div class="card-body flex-column justify-content-center align-items-center text-center pt-3">
                            <div class="card-menu-icone">
                                <i class="mdi mdi-36px mdi-barley"></i></div>
                            <div id="div3">
                                <h6 class="card-menu-titulo mb-0">Módulo 3</h6>
                                <p class="card-menu-subtitulo pt-1">Descricao</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-6 pr-2 pl-2 pb-2"
                     onclick="clickProgress('div4','/')">
                    <div class="card card-menu nao-seleciona-texto cursor-pointer mb-2 ">
                        <div class="card-body flex-column justify-content-center align-items-center text-center pt-3">
                            <div class="card-menu-icone">
                                <i class="mdi mdi-36px mdi-cash-check"></i>
                            </div>
                            <div id="div4">
                                <h6 class="card-menu-titulo mb-0">Módulo 4</h6>
                                <p class="card-menu-subtitulo pt-1">Descricao</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
